<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tab">
    <h1 align="center">NEW USER</h1>
    <table border="2" align="center" cellpadding="10" style="border-collapse: collapse;">
        <form action="" method="post" id="userform" data-place-url="" enctype="multipart/form-data">
            {% csrf_token %}
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" autocomplete="off" placeholder="Enter Name" required=""></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="number" name="contact"  required="" autocomplete="off" placeholder="0123456789" pattern="[0-9]{10}" required=""></td>
            </tr>
            <tr>
                <td>EmployeeID</td>
                <td><input type="number" name="employeid"  required="" autocomplete="off" placeholder="0123456789" pattern="[0-9]{10}" required=""></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" autocomplete="off" pattern="[^ @]*@[^ @]*" placeholder="Enter Email" id="email" required=""></td>
            </tr>
            <tr>
                <td>Gender
                </td>
                <td><input type="radio" name="gender" value="male" id="" required="" autocomplete="off">Male <input type="radio" name="gender" value="female">Female</td>
            </tr>
            <tr>
                <td>photo</td>
                <td><input type="file" name="photo" required="" autocomplete="off"></td>
            </tr>
           
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"  placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                     title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="save" name="btn">
                    <input type="reset" value="cancel" name="btnc"></td>
                
            </tr>
    </table>
</form>
</div>
</body>
</html>
