<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Home</title>
</head>

<body>
    <h1>Welcome, {{ user.name }}</h1>
    <a href="{% url 'webuser:myprofile' %}">My Profile</a>
    <a href="{% url 'webuser:editprofile' %}">Edit Profile</a>
</body>

</html> -->



<div>
    <ul>
        <li><a href="{% url 'webuser:myprofile' %}">My Profile</a></li>
        <li><a href="{% url 'webuser:editprofile' %}">Edit Profile</a></li>
        <li><a href="{% url 'webuser:viewannouncement' %}">View  Announcements</a></li>
        <li><a href="{% url 'webuser:viewmachine' %}">View  Machines</a></li>
    </ul>
</div>
